name: "Lambda Version Update"

on:
  push:
    branches:
      - main
    paths:
      - "*.js"

jobs:
  zip-updated-lambda-function:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Zip the Lambda JS function
        run: |
          sudo apt-get install zip
          zip lambda_hello_world_function.zip lambda_hello_world_function.js
          ls -la
      - name: Delete previous function
        run: |
          rm $GITHUB_WORKSPACE/lambda_hello_world_function.zip
          ls -la
      - name: Copy updated zipped function to repo
        run: cp lambda_hello_world_function.zip $GITHUB_WORKSPACE
