name: "Lambda Version Update"

on:
  push:
    branches:
      - main

jobs:
  zip-updated-lambda-function:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'lambda-update')
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Zip the Lambda JS function
        run: |
          zip -v
          if [ $? -eq 0 ]; then
            echo "Zip is already installed"
          else
            sudo apt-get install zip
          fi
          zip lambda_hello_world_function.zip lambda_hello_world_function.js

      - name: Build artifact
        run: |
          mkdir -p $GITHUB_WORKSPACE/artifact
          cp lambda_hello_world_function.zip $GITHUB_WORKSPACE/artifact

      - name: Upload artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: lambda-function
          path: $GITHUB_WORKSPACE/artifact