name: "Lambda Version Update"

on:
  push:
    branches:
      - main
    paths:
      - "*.js"

jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt-get install zip
      - run: zip lambda_hello_world_function.zip lambda_hello_world_function

      # - uses: actions/setup-node@v3
      #   with:
      #     node-version: '14'
      # - run: npm install -g bats
      # - run: bats -v
    
